<div *ngIf="filteredCModules" class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a *ngFor="let c of categories"
           (click)="goCategoryModules(c)"
           class="list-group-item list-group-item-action"
           [class.active]="category === c">
          {{ c }}
        </a>
      </div>
    </div>

    <div class="col-md-9">
      <div *ngFor="let cmodule of filteredCModules; let i=index">
        <div *ngIf="i % 3 == 0" class="row">
          <div class="col-md-4 module">
            <div class="card text-center">

              <div class="card-header">
                <h5 class="card-title">{{ filteredCModules[i].name }}</h5>
                <p>Difficulty: {{ filteredCModules[i].difficulty }}</p>
              </div>
              <div class="card-body">
                <p class="card-text">{{ filteredCModules[i].description | truncate:[80, '...'] }}</p>
                <p class="card-text text-secondary">Type: {{ filteredCModules[i].type }}</p>
              </div>

              <div class="card-footer">
                <p class="card-text float-left"> Watched: {{ filteredCModules[i].watchCounter }}</p>
                <a (click)="incrementWatchCounter(i)" class="btn btn-primary float-right">Watch</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 module" *ngIf="filteredCModules[i + 1]">
            <div class="card text-center">
              <div class="card-header">
                <h5 class="card-title">{{ filteredCModules[i + 1].name }}</h5>
                <p>Difficulty: {{ filteredCModules[i + 1].difficulty }}</p>
              </div>
              <div class="card-body">
                <p class="card-text">{{ filteredCModules[i + 1].description | truncate:[80, '...'] }}</p>
                <p class="card-text text-secondary">Type: {{ filteredCModules[i + 1].type }}</p>
              </div>

              <div class="card-footer">
                <p class="card-text float-left"> Watched: {{ filteredCModules[i + 1].watchCounter }}</p>
                <a (click)="incrementWatchCounter(i + 1)" class="btn btn-primary float-right">Watch</a>
              </div>
            </div>
          </div>


          <div class="col-md-4 module" *ngIf="filteredCModules[i + 2]">
            <div class="card text-center">
              <div class="card-header">
                <h5 class="card-title">{{ filteredCModules[i + 2].name }}</h5>
                <p>Difficulty: {{ filteredCModules[i + 2].difficulty }}</p>
              </div>
              <div class="card-body">
                <p class="card-text">{{ filteredCModules[i + 2].description | truncate:[80, '...'] }}</p>
                <p class="card-text text-secondary">Type: {{ filteredCModules[i + 2].type }}</p>
              </div>

              <div class="card-footer">
                <p class="card-text float-left"> Watched: {{ filteredCModules[i + 2].watchCounter }}</p>
                <a (click)="incrementWatchCounter(i + 2)" class="btn btn-primary float-right">Watch</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
