<div class="container">

  <div *ngFor="let course of courses; let i=index;">
    <div *ngIf="i % 3 == 0" class="row">
      <div class="col-md-4">
        <h2>{{ courses[i].name }}</h2>
        <p>{{ courses[i].description }}</p>
        <p><a class="btn btn-secondary" [routerLink]="['/modules', {moduleIds: courses[i].modules}]"  role="button">View modules »</a></p>
      </div>

      <div *ngIf="courses[i + 1]" class="col-md-4">
        <h2>{{ courses[i + 1].name }}</h2>
        <p>{{ courses[i + 1].description }}</p>
        <p><a class="btn btn-secondary" [routerLink]="['/modules', {moduleIds: courses[i + 1].modules}]" role="button">View modules »</a></p>
      </div>

      <div *ngIf="courses[i + 2]" class="col-md-4">
        <h2>{{ courses[i + 2].name }}</h2>
        <p>{{ courses[i + 2].description }}</p>
        <p><a class="btn btn-secondary" [routerLink]="['/modules', {moduleIds: courses[i + 2].modules}]" role="button">View modules »</a></p>
      </div>
    </div>
    <hr>
  </div>
</div>
